body {
    background: #eff;
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
}

header {
    text-align: center;
}

.content {
    text-align: center;
}

.content table {

    margin: 100px auto;
}

.cell {
    padding: 0;
    margin: 0;
    width: 120px;
    height: 120px;
    cursor: pointer;
    font-family: sans-serif;
    text-align: center;
    font-size: 40pt;
}

#c0 {
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

#c1 {
    border-bottom: 2px solid black;
}

#c2 {
    border-left: 2px solid black;
    border-bottom: 2px solid black;
}

#c3 {
    border-right: 2px solid black;
}

#c5 {
    border-left: 2px solid black;
}

#c6 {
    border-right: 2px solid black;
    border-top: 2px solid black;
}

#c7 {
    border-top: 2px solid black;
}

#c8 {
    border-left: 2px solid black;
    border-top: 2px solid black;
}